<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar Pedidos</h1>
            <hr>
            <form action="createOrder" method="POST">
                <label for="">Pedido</label>
                <input type="text" name="code" id="code" placeholder="Insira o código do pedido" class="form-control">

                <label for="">Total</label>
                <input type="text" name="total" id="total" placeholder="Insira o total da Compra" class="form-control">

                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
            <hr>
        </div>
    </div>
</div>

   <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Pedidos</h1>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Número:</th>
                            <th>Valor:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Order.forEach(order => { %>
                        <tr>
                            <td><%= order.code %></td>
                            <td><%= order.total%></td>
                            <td><a href="/deleteOrder/<%= order._id %>"><img src="/imgs/delete.png" alt="Apagar"></a></td>
                            <td><a href="/findOrder/<%= order._id %>"><img src="/imgs/edit.png" alt="Editar"></a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    
 